<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a78a7152a1654a0e9c8c1432662d9700 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_a78a7152a1654a0e9c8c1432662d9700" ></div>
        
</body>
<script>    
    
            var map_a78a7152a1654a0e9c8c1432662d9700 = L.map(
                "map_a78a7152a1654a0e9c8c1432662d9700",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5ce90116d7c5450cac45b44aa18ce1d3 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a78a7152a1654a0e9c8c1432662d9700);
        
    
            var marker_de9da4ef823e4f1eb8c159b832af4615 = L.marker(
                [28.37022717, -81.5212839],
                {}
            ).addTo(map_a78a7152a1654a0e9c8c1432662d9700);
        
    
            var icon_d83ff168adea41fd905fd2e1e374981c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_de9da4ef823e4f1eb8c159b832af4615.setIcon(icon_d83ff168adea41fd905fd2e1e374981c);
        
    
            marker_de9da4ef823e4f1eb8c159b832af4615.bindTooltip(
                `<div>
                     So need this lol..... #hurricane lmao every one that I work with might know haven't relaxed in a long time...silly… https://t.co/7F4rg9achv
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dad18e4f367446a087b0d342f77c03c2 = L.marker(
                [38.4325896, -82.0201368],
                {}
            ).addTo(map_a78a7152a1654a0e9c8c1432662d9700);
        
    
            var icon_2cfa52a48ec34daab18cb62199b3ae5b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_dad18e4f367446a087b0d342f77c03c2.setIcon(icon_2cfa52a48ec34daab18cb62199b3ae5b);
        
    
            marker_dad18e4f367446a087b0d342f77c03c2.bindTooltip(
                `<div>
                     We develop YOU. At Putnam Care Center - Genesis Hea..., we offer educational, training and leadership development p… https://t.co/X3XJ8NUi1e
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0b486ccf834a48e3b36979f702bdd566 = L.marker(
                [51.6022, 0.644122],
                {}
            ).addTo(map_a78a7152a1654a0e9c8c1432662d9700);
        
    
            var icon_326d8077ad5b4eb39d4e47014fed40a6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0b486ccf834a48e3b36979f702bdd566.setIcon(icon_326d8077ad5b4eb39d4e47014fed40a6);
        
    
            marker_0b486ccf834a48e3b36979f702bdd566.bindTooltip(
                `<div>
                     Citrus notes, earthy, with a pithy bitterness to finish it off - Drinking a Hurricane by @TreeHouseBrewCo @ Dave’s… https://t.co/ojx0hSIoM0
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5b4748c7aa1448a2b71ec23b996611f5 = L.marker(
                [38.42012155, -82.07255479],
                {}
            ).addTo(map_a78a7152a1654a0e9c8c1432662d9700);
        
    
            var icon_ef56a395f6d6468a8c671ae271747c7d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5b4748c7aa1448a2b71ec23b996611f5.setIcon(icon_ef56a395f6d6468a8c671ae271747c7d);
        
    
            marker_5b4748c7aa1448a2b71ec23b996611f5.bindTooltip(
                `<div>
                     Severe Thunderstorm Warning including Saint Albans WV, Nitro WV, Hurricane WV until 6:45 PM EDT https://t.co/jdn0enO9c2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_30f72d7e3b3043919d21b00ad6ec19ba = L.marker(
                [38.42012155, -82.07255479],
                {}
            ).addTo(map_a78a7152a1654a0e9c8c1432662d9700);
        
    
            var icon_c1fba32e375245339f32f01e02df18f8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_30f72d7e3b3043919d21b00ad6ec19ba.setIcon(icon_c1fba32e375245339f32f01e02df18f8);
        
    
            marker_30f72d7e3b3043919d21b00ad6ec19ba.bindTooltip(
                `<div>
                     Severe Thunderstorm Warning including Saint Albans WV, Nitro WV, Hurricane WV until 6:45 PM EDT https://t.co/1z8jGHwYoS
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a51a51bbf11941f9b0e7404f2f3067db = L.marker(
                [18.90007457, -98.97913456],
                {}
            ).addTo(map_a78a7152a1654a0e9c8c1432662d9700);
        
    
            var icon_77e2e95b435f4f659928162ded4b9e60 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a51a51bbf11941f9b0e7404f2f3067db.setIcon(icon_77e2e95b435f4f659928162ded4b9e60);
        
    
            marker_a51a51bbf11941f9b0e7404f2f3067db.bindTooltip(
                `<div>
                     Me choca! 🤬🤣 #enperras #televantoelevento #cobramoscaro #papparazzi #perdidas das #cobramoscaro #muyperras #parati… https://t.co/4ysmQyR6Iy
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4c4829b5d3c24054b8f921eeb7cbe69b = L.marker(
                [37.11809646, -113.38861467],
                {}
            ).addTo(map_a78a7152a1654a0e9c8c1432662d9700);
        
    
            var icon_1c4165f50fb94b39ab145e8d1885f961 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4c4829b5d3c24054b8f921eeb7cbe69b.setIcon(icon_1c4165f50fb94b39ab145e8d1885f961);
        
    
            marker_4c4829b5d3c24054b8f921eeb7cbe69b.bindTooltip(
                `<div>
                     So we heard Sand Hollow was looking like this these days, true?

#teamchaosracing #tcrladycrawler #sandhollow… https://t.co/jbdPd2XarG
                 </div>`,
                {"sticky": true}
            );
        
</script>